@import 'fonts.scss';
@import 'carousel.scss';

* {
    font-family: 'Poppins', 'Montserrat';
    color: #ffffff;
}
body{
    background-color: #676767;
    width: 100%;
}

section {
    width: 1340px;
    height: 100%;
    margin: 0 auto;
    padding: 81px 51px 81px 51px;
    background: url(../img/bg1.png) center (center/cover) no-repeat;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        h1{
            font-size: 50px;
            font-weight: 600;
            width: 500px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 230px;
            margin: 0;
        }
        .menu {
            display: flex;
            list-style-type: none;
            text-transform: capitalize;
            margin-left: 300px;
            li {
                position: relative;
                margin: 0 20px;
                font-size: 25px;
                color: white;
                font-weight: 300;
                transition: 0.3s all;
                a {
                    text-decoration: none;
                }
                &:hover {
                    background: -webkit-linear-gradient(124deg, #78CFFF, #CAECFF);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    cursor: pointer;
                }
                select {
                    appearance: none;
                    -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                    background: none;
                    padding-right: 25px;
                    border: none;
                    font-size: 25px;
                    color: white;
                    font-weight: 300;
                    transition: 0.3s all;
                    cursor: pointer;
                    outline: none;
                    option{
                        background: #24343D;
                        cursor: pointer;
                    }
                    &:focus{
                        border: none;
                    }
                }
            }
        }
        .sign_up, .apply {
            min-width: 165px;
            height: 78px;
            text-transform: capitalize;
            box-shadow: inset 7px 7px 10px 0 rgba(79, 136, 167, 0.3);
            background-image: linear-gradient(180deg, #3a5e72 5%, #5c93b1 132%);
            font-weight: 500;
            font-size: 25px;
            border-radius: 20px;
            border: none;
            &:hover {
                background-image: linear-gradient( #3a5e72 132%, #5c93b1 5%);
                cursor: pointer;
            }
            &:active {
                background-image: linear-gradient( #204153 132%, #5c93b1 5%);
            }
        }
        .search {
            width: 328px;
            height: 90px;
            border-radius: 12px;
            box-shadow: inset 10px 10px 30px 0 rgba(36, 52, 61, 0.6);
            background-color: #24343d;
            font-size: 23px;
            font-weight: 200;
            line-height: center;
            padding: 0 60px 0 40px;
            border: none;
            z-index: 1;
            text-transform: capitalize;
            &__btn{
                position: absolute;
                left: 434px;
                width: 90px;
                height: 90px;
                padding: 0;
                box-shadow: inset 10px 10px 30px 0 rgba(36, 52, 61, 0.6);
                background-color: #24343d;
                border-radius: 20px;
                border: none;
                &:hover {
                    background-image: linear-gradient( #3a5e72 132%, #5c93b1 5%);
                    cursor: pointer;
                }
                &:active {
                    background-image: linear-gradient( #204153 132%, #5c93b1 5%);
                }
            }
        }
        .cross{
            position: absolute;
            z-index: 2;
            left: 353px;
            transition: 3s;
        }
        .alarm{
            position: absolute;
            z-index: 2;
            left: -25px;
            transition: 0.3s;
        }
        .filter {
            position: relative;
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 30px;
            border-radius: 12px;
            background-color: #24343d;
            font-size: 27px;
            font-weight: 500;
            overflow: none;
            text-align: center;
            .select_wrapper {
                position: relative;
            }
            select {
                padding: 5px 10px;
                padding-right: 25px;
                margin: 0 14px;
                border-radius: 15px;
                border-style: solid;
                border-width: 1px;
                background: #24343D;
                font-size: 23px;
                height: 75px;
                appearance: none;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                cursor: pointer;
                }
                img {
                    &:nth-child(1){
                        right: 20px;
                    }
                }
            }
        }
    }

    .h2 {
        font-size: 40px;
        margin: 0 auto;
        margin-top: 107px;
        margin-bottom: 85px;
        text-align: center;
        width: 778px;
        .waviy{
            span {
                position: relative;
                display: inline-block;
                background: -webkit-linear-gradient(124deg, #78CFFF, #CAECFF);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: flip 5s infinite;
                animation-delay: calc(.10s * var(--i))
            }
        }
    }

    .option_arrow {
        position: absolute;
        top: 10px;
        left: 35px;
        width: 15px;
        transition: 0.3s all;
        &_filter{
            width: 15px;
            position: absolute;
            top: 30px;
            right: 20px;
            transition: 0.3s all;
        }
    }

.carousel__slider{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    .card {
        position: relative;
        padding-top: 230px;
        padding-left: 52px;
        padding-right: 52px;
        padding-bottom: 35px;
        width: 273px;
        min-height: 200px;
        border-radius: 20px;
        box-shadow: 10px 9px 70px 0 rgba(36, 53, 62, 0.4);
        background-color: #24353e;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: left;
        font-size: 20px;
        transition: 0.3s;
        margin-left: 100px;
        &:nth-child(1){
            margin-left: 0px;
        }
        .main_info {
            font-size: 40px;
            display: inline-block;
            z-index: 2;
            .city_info {
                font-weight: bold;
                z-index: 2;
            }
            .temp {
                font-weight: 300;
            }
        }
        .icon {
            position: absolute;
            top: -65px;
            left: 120px;
            img {
                width: 300px;
                // height: 230px;
            }
            &_eclipse {
                position: absolute;
                top: 10px;
                width: 228px;
                height: 228px;
                flex-grow: 0;
                margin: 98.2px 0 221.3px 115px;
                -webkit-filter: blur(120px);
                filter: blur(120px);
                background-image: radial-gradient(circle at 0 0, #74b4d8, rgba(73, 101, 117, 0));
            }
        }
        .weather_type {
            text-transform: capitalize;
        }
    }
}
    
.rotate {
    transform: rotate(180deg);
}

.dn {
    display: none;
}

.zeroOpt {
    opacity: 0;
}

@keyframes background-in {
    0% { scale: 0 0.005; }
    33% { scale: 1 0.005; }
    66%, 100% { scale: 1 1;}
}

@keyframes modal-in {
    0%, 66% {
        opacity: 0;
        visibility: hidden;
        translate: -50% -30%;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1, 1);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

body.open .modal-background {
    opacity: 1;
    visibility: visible;
    animation: background-in 1s both;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 400px;
    z-index: 999;
    border-radius: 12px;
    background-color: #24353e;
    color: #f9f9f9;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

body.open .modal {
    opacity: 1;
    visibility: visible;
    animation: modal-in 1s;
}

body.closed .modal {
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
}

.content {
    position: relative;
    & h1:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 3px #ffffff;
    }
    & h1:nth-child(2) {
        color: #ffffff;
        animation: animate 4s ease-in-out infinite;
    }
}

.control {
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #f0f0f0;
    color: #5a4f79;
    font-family: inherit;
    font-size: 16px;
    transition: 0.4s;
}
.login-card {
    padding: 25px 30px 40px;
    border-radius: 1.25rem;
    text-align: center;
    & > h2 {
        font-size: 36px;
        font-weight: 600;
        margin: 0 0 6px;
    }
    & > h3 {
        color: #f0f0f0;
        margin: 0 0 20px;
        font-weight: 500;
        font-size: 1rem;
    }
}

.login-form {
    width: 90%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form input.control::placeholder {
    color: #aaa7bc;
}

.login-form > button.control {
    cursor: pointer;
    width: 110.5%;
    height: 56px;
    padding: 0 16px;
    color: #ffffff;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
    background-image: linear-gradient(180deg, #3a5e72 5%, #5c93b1 132%);
    &:hover {
        background-image: linear-gradient( #3a5e72 132%, #5c93b1 5%);
    }
    &:active {
        background-image: linear-gradient( #204153 132%, #5c93b1 5%);
    }
}

.password {
    position: relative;
}

.toggle {
    border: none;
    position: absolute;
    top: 50%;
    right: -18px;
    translate: 0 -50%;
    width: 30px;
    height: 30px;
    background-image: url("../img/show.svg");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toggle.showing {
    background-image: url("../img/hide.svg");
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
            0% 45%,
            16% 44%,
            33% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

@keyframes flip {
    0%,80% {
        transform: rotateY(360deg) 
    }
}
