@import 'fonts.scss';

* {
    font-family: 'Poppins', 'Montserrat';
    color: #ffffff;
}
body{
    background-color: #676767;
}

section {
    width: 1340px;
    height: 100%;
    margin: 0 auto;
    padding: 81px 51px 81px 51px;
    background: url(../img/bg1.png) center (center/cover) no-repeat;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 40px;
            font-weight: 600;
        }
        .menu {
            display: flex;
            list-style-type: none;
            text-transform: capitalize;
            li {
                position: relative;
                margin: 0 20px;
                font-size: 25px;
                color: white;
                font-weight: 300;
                transition: 0.3s all;
                a {
                    text-decoration: none;
                }
                &:hover {
                    background: -webkit-linear-gradient(124deg, #78CFFF, #CAECFF);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    cursor: pointer;
                }
                select {
                    appearance: none;
                    -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                    background: none;
                    padding-right: 25px;
                    border: none;
                    font-size: 25px;
                    color: white;
                    font-weight: 300;
                    transition: 0.3s all;
                    cursor: pointer;
                    outline: none;
                    option{
                        background: #24343D;
                        cursor: pointer;
                    }
                    &:focus{
                        border: none;
                    }
                }
            }
        }
        .sign_up {
            min-width: 165px;
            height: 78px;
            text-transform: capitalize;
            box-shadow: inset 7px 7px 10px 0 rgba(79, 136, 167, 0.3);
            background-image: linear-gradient(180deg, #3a5e72 5%, #5c93b1 132%);
            font-weight: 500;
            font-size: 25px;
            border-radius: 20px;
            border: none;
            &:hover {
                background-image: linear-gradient( #3a5e72 132%, #5c93b1 5%);
                cursor: pointer;
            }
            &:active {
                background-image: linear-gradient( #204153 132%, #5c93b1 5%);
            }
        }
        .search {
            width: 328px;
            height: 90px;
            border-radius: 12px;
            box-shadow: inset 10px 10px 30px 0 rgba(36, 52, 61, 0.6);
            background-color: #24343d;
            font-size: 23px;
            font-weight: 200;
            line-height: center;
            padding: 0 60px 0 40px;
            border: none;
            z-index: 1;
            text-transform: capitalize;
        }
        .cross{
            position: absolute;
            z-index: 2;
            left: 473px;
            transition: 0.3s;
        }
        .alarm{
            position: absolute;
            z-index: 2;
            left: 95px;
            transition: 0.3s;
        }
        .filter {
            position: relative;
            width: 780px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 30px;
            border-radius: 12px;
            background-color: #24343d;
            font-size: 27px;
            font-weight: 500;
            overflow: none;
            text-align: center;
            .select_wrapper {
                position: relative;
            }
            select {
                padding: 5px 10px;
                padding-right: 25px;
                margin: 0 14px;
                border-radius: 15px;
                border-style: solid;
                border-width: 1px;
                background: #24343D;
                font-size: 23px;
                height: 75px;
                appearance: none;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                cursor: pointer;
                }
                img {
                    &:nth-child(1){
                        right: 20px;
                    }
                }
            }
        .card {
            position: relative;
            margin-top: 82px;
            padding-top: 200px;
            padding-left: 52px;
            padding-right: 52px;
            padding-bottom: 35px;
            width: 273px;
            min-height: 200px;
            border-radius: 20px;
            box-shadow: 10px 9px 70px 0 rgba(36, 53, 62, 0.4);
            background-color: #24353e;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: left;
            font-size: 20px;
            .main_info {
                font-size: 40px;
                display: inline-block;
                .city_info {
                    font-weight: bold;
                }
                .temp {
                    font-weight: 300;
                }
            }
            .icon {
                position: absolute;
                top: -150px;
                left: 60px;
                &_eclipse {
                    position: absolute;
                    top: -100px;
                    width: 228px;
                    height: 228px;
                    flex-grow: 0;
                    margin: 98.2px 0 221.3px 115px;
                    -webkit-filter: blur(120px);
                    filter: blur(120px);
                    background-image: radial-gradient(circle at 0 0, #74b4d8, rgba(73, 101, 117, 0));
                }
            }
            .weather_type {
                text-transform: capitalize;
            }
        }
        }
    }

    h2 {
        font-size: 40px;
        margin: 0 auto;
        margin-top: 107px;
        margin-bottom: 85px;
        text-align: center;
        width: 778px;
        span {
            background: -webkit-linear-gradient(124deg, #78CFFF, #CAECFF);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .option_arrow {
        position: absolute;
        top: 10px;
        left: 35px;
        width: 15px;
        transition: 0.3s all;
        &_filter{
            width: 15px;
            position: absolute;
            top: 30px;
            right: 20px;
            transition: 0.3s all;
        }
    }

.rotate {
    transform: rotate(180deg);
}

.dn {
    display: none;
}